* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    background-color: #1B2845;
    text-align: center;
}

body {
    display: grid;
    grid-template-areas:
        "header header header"
        "temperatura dimensiones adicionales"
        "botonera botonera botonera"
        "resultado resultado resultado"
        "contResultado contResultado contResultado";
    grid-template-rows: repeat(7 auto);
    grid-template-columns: 33% 34% 33%;
    height: 100vh;
    color: #65AFFF;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 5px solid #65AFFF;
}

.titulo__principal {
    font-size: 2.5rem;
    font-weight: 700;
}

.titulo__parrafo {
    font-size: 1.2rem;
}

.titulo {
    font-weight: 500;
}

#temperatura {
    grid-area: temperatura;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border: 5px solid #65AFFF;
    border-radius: 20px;
}

.temperatura__botonera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

.temperatura__boton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;

}

.temperatura__boton img {
    background-color: #1B2845;
    width: 50px;
    margin: 0.2rem;

}


.temperatura__boton button {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 50px;
}

.temperatura__boton label {
    font-size: 0.9rem;
    font-weight: 500;
}

#dimensiones {
    grid-area: dimensiones;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border: 5px solid #65AFFF;
    border-radius: 20px;
}

.dimensiones__valores {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.dimensiones__valores input {
    color: white;
    margin: 0.5rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.superficie__contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#SuperficieTotal {
    text-align: center;
    color: white;
    margin: 0.5rem;
    border-radius: 10px;
}

.superficie__titulo {
    font-size: 1.2rem;
    font-weight: 700;
}

#adicionales {
    grid-area: adicionales;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border: 5px solid #65AFFF;
    border-radius: 20px;
}

.adicionales__contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.adicionales__contenedor input {
    color: white;
    margin: 0.5rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.adicionales__contenedor select {
    color: white;
    margin: 0.5rem;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
}

#botonera {
    grid-area: botonera;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#calcular {
    font-size: 1.5rem;
    color: #1B2845;
    font-weight: 700;
    padding: 0.5rem;
    background-color: #65AFFF;
    border: 5px solid white;
    border-radius: 20px;
}

#limpiar {
    font-size: 1rem;
    color: #1B2845;
    font-weight: 500;
    padding: 0.5rem;
    background-color: #65AFFF;
    border: 5px solid white;
    border-radius: 20px;
}

#ayuda {
    font-size: 1rem;
    color: #1B2845;
    font-weight: 500;
    padding: 0.5rem;
    background-color: #65AFFF;
    border: 5px solid white;
    border-radius: 20px;
}

#ayuda a {
    text-decoration: none;
    font-size: 1rem;
    color: #1B2845;
    font-weight: 500;
    background-color: #65AFFF;
}

#valores {
    grid-area: valores;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.valores__contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border: 5px solid #65AFFF;
    border-radius: 20px;
}

.valores__contenedor textarea {
    color: white;
    border-radius: 10px;
}

.valores__titulo {
    font-weight: 500;
    padding-bottom: 0.5rem;
}

#resultado {
    grid-area: resultado;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    border: 5px solid #65AFFF;
    border-radius: 20px;
}

.resultado__titulo {
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1rem;
}

#frigorias {
    margin-bottom: 1rem;
    border-radius: 10px;
}

#acciones {
    grid-area: acciones;
    display: flex;
    justify-content: center;
    align-items: center;
}

#guardar {
    margin: 0 0.5rem 0.5rem 0;
}

#guardar img {
    margin: 0.5rem;
    width: 40px;
}

#imprimir {
    margin: 0 0 0.5rem 0.5rem;
}

#imprimir img {
    margin: 0.5rem;
    width: 40px;
}

#contResultado {
    grid-area: contResultado;
}

output {
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
}